/* Estilos para las tarjetas */
.card {
    background-color: #f9f9f9;  /* Fondo suave y agradable */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin-bottom: 2rem;
    overflow: hidden;  /* Para evitar desbordes en los bordes redondeados */
  }
  
  .card-content {
    padding: 2rem;  /* Mayor espacio interno */
  }
  
  .card-header {
    font-size: 1.5rem;  /* Aumentamos el tamaño de la fuente */
    font-weight: 700;  /* Usamos un peso de fuente más fuerte */
    color: #333;  /* Un color oscuro para la lectura */
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #ddd;  /* Una línea sutil debajo del encabezado */
    padding-bottom: 0.5rem;
  }
  .titulo h1 {
    background: linear-gradient(135deg, #000000, #d3d3d3); /* Negro a gris claro */

  }
  
  .card-text {
    margin-bottom: 1rem;
    color: #555;  /* Un gris más suave para el texto */
    line-height: 1.6;  /* Mayor espacio entre líneas para facilitar la lectura */
  }
  
  .card-list {
    list-style-type: disc;
    padding-left: 1.5rem;
    color: #555;
    margin-bottom: 1rem;
  }
  
  .card-list-item {
    margin-bottom: 0.8rem;  /* Espacio más generoso entre los ítems */
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .card-warning {
    background-color: #fff4e5;  /* Fondo suave para advertencias */
    border-left: 6px solid #fbbf24;  /* Borde más prominente */
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    border-radius: 8px;  /* Bordes redondeados para el cuadro de advertencia */
  }
  
  .card-warning strong {
    color: #f97316;  /* Color llamativo para las palabras importantes */
  }
  
  .card-footer {
    background-color: #f1f1f1;
    padding: 1rem;
    text-align: center;
    border-radius: 0 0 12px 12px;
    font-size: 0.9rem;
    color: #777;
  }
  .boton-atras {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: black; /* Azul */
    color: #ffffff; /* Blanco */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .boton-atras:hover {
    background-color: #101010; /* Azul más oscuro al pasar el mouse */
    transform: scale(1.05); /* Efecto de zoom */
  }
  
  .boton-atras:active {
    background-color: #4c5155; /* Azul más oscuro al presionar */
    transform: scale(0.95); /* Efecto de compresión */
  }
  