/* Perfil.css */
.user-profile {
  display: flex;
  justify-content: center;  /* Centra los elementos horizontalmente */
  align-items: center;      /* Centra los elementos verticalmente */
  min-height: 100vh;
  background-image: url('/public/images/side-view-huge-decorated-served-table.jpg'); /* Fondo de imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.profile-card {
  background: rgba(255, 255, 255, 0); /* Carta completamente transparente */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Un poco más de sombra para resaltar */
  width: 100%;
  max-width: 600px;
  padding: 30px;
  text-align: center;
  backdrop-filter: blur(8px); /* Efecto de desenfoque */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Ligera línea de borde para definir la carta */
}

.profile-card h2 {
  font-size: 2rem;
  color: #f1efef; /* Blanco con opacidad */
  margin-bottom: 30px;
}

/* Ajustes para los detalles del perfil */
.profile-details {
  display: center;
  flex-direction: column;
  align-items: center; /* Centra los elementos dentro de la sección de detalles */
  width: 100%;
  justify-content: center; /* Centra verticalmente los items dentro de la columna */
}

.profile-item {
  display: center;
  align-items: center;
  margin: 15px 0;
  font-size: 1.1rem;
  color: #f1efef; /* Blanco para el texto */
  width: 100%;
  justify-content: center; /* Centra el contenido dentro de cada perfil-item */
}

.profile-item .profile-icon {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #0b7dda; /* Azul de los iconos */
  align-items: end;
  
}

.profile-item p {
  margin: 0;
  color: white;
}

.back-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0b7dda; /* Azul del botón */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
  width: 100%; /* Hace el botón de ancho completo */
  text-align: center; /* Asegura que el texto esté centrado dentro del botón */
}

.back-btn:hover {
  background-color: #075fa7; /* Efecto hover para el botón */
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .user-profile {
    padding: 20px;
    background-image: url('/public/images/side-view-huge-decorated-served-table.jpg');
    background-size: cover;
  }

  .profile-card {
    width: 100%;
    max-width: 90%;
    padding: 20px;
    backdrop-filter: blur(6px); /* Menos desenfoque para dispositivos móviles */
  }

  .profile-card h2 {
    font-size: 1.6rem; /* Tamaño de texto ajustado */
  }

  .profile-item {
    font-size: 1rem; /* Tamaño de texto ajustado */
  }

  .profile-item .profile-icon {
    font-size: 1.2rem; /* Iconos más pequeños */
  }

  .back-btn {
    width: 100%; /* Hace el botón más ancho en móviles */
  }
}
