.usa {
  display: grid;
  grid-template-columns: 1fr 1fr auto; /* Cambia a 'auto' para que la última columna se ajuste al contenido */
  gap: 0px; /* Ajusta el espacio entre columnas si es necesario */
}

.menu {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: transparent;
}

.usuario {
  grid-area: 1 / 3 / 2 / 4; /* Se mantiene en la última columna */
  background-color: transparent;
  display: flex; /* Añadir flex para alinear contenido si es necesario */
  justify-content: flex-end; /* Alinea cualquier contenido interno a la derecha */
}

.main-header {
  width: 100%;
  height: 50px;
}

nav {
  position: absolute;
  top: 50px;
  left: 0;
  width: 300px;
  height: calc(100vh - 50px);
  background: #dc8718;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: 50;
}

.men li {
  list-style-type: disc;
  width: 100%;
  border-bottom: 1px solid #000;
}

.men a {
  color: var(--main-color);
  display: block;
  padding: 10px;
  text-decoration: none;
  line-height: 2.5;
  transition: transform 0.4s ease;
}

.men a:hover {
  transform: translateX(10%);
}

#btn-nav {
  display: none;
}

#btn-nav:checked ~ nav {
  transform: translateX(0);
}

.btn-nav {
  color: var(--main-color);
  font-size: 30px;
  position: absolute;
  left: 5px;
  top: 10px;
  cursor: pointer;
  padding: 7px 15px;
  background: transparent;
  transition: background 0.2s ease;
}

.btn-nav:hover {
  background: rgba(0, 0, 0, 0.3);
}

.user-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-picture {
  max-width: 40px;
  height: auto;
  border-radius: 50%;
  margin-right: 8px;
}

.user-menu {
  position: relative;
  display: inline-block;
  color: #ffffff;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
}

.menus {
  display: grid;
  grid-template-rows: 1fr;
  background-color: chocolate;
  z-index: 2;
}
